/*variables*/

/*browser styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*browser end*/

/*body styling*/
.main {
  font-family: "Oswald", sans-serif;
  color: rgba(2, 0, 36, 1);
}

/*header styling*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    248deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-bottom: 20px;
}

.header-title {
  padding: 10px;
  font-size: 40px;
  color: white;
}
/*header end*/

/*main styling*/
.main {
  background: rgba(2, 0, 36, 1);
}

.divrow {
  width: 90vw;
}

.card-head-back {
  background-color: rgba(0, 212, 255, 0.5);
}

.icon-image {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.five-day-header {
  color: white;
  margin-top: 10px;
}

.forecast-head {
  font-size: 17px;
}

.city-btn {
  width: 80%;
  border-radius: 5px;
  margin-top: 10px;
}

#search-header {
  font-size: 25px;
}

#city-list{
    border-top: 2px solid white;
    margin-top: 10px;
}

#search-btn,
.city-btn {
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(0, 212, 255, 1);
}

/*styling for uvi*/
#low-uv {
  background: rgba(63, 195, 128, 1);
  border-radius: 5px;
}

#mod-uv {
  background: rgba(9, 9, 121, 0.7);
  border-radius: 3px;
}

#high-uv {
  background: rgba(255, 255, 159, 1);
  border-radius: 3px;
}

#vhigh-uv {
  background: rgba(250, 190, 88, 1);
  border-radius: 3px;
}

#extreme-uv {
  background: rgba(242, 38, 19, 0.7);
  border-radius: 3px;
}
/*end uvi styling*/

/*main end*/

